.conteiner{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(45deg, rgb(114, 111, 105), rgb(169, 166, 159),rgb(114, 111, 105));
    font-size: 1.1rem;
    height: 75%;
    width: 80%;
    margin: 5%;
    border-radius: 7px;
    padding: 5%;
}

.conteinerBox{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
}

.cf{
    font-size: 1.5rem;
}

.conteinerCaixas{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow: auto;
    height: 60%;
    width: 80%;
    margin: 15px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 7px;
}

.bott{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
    width: 70%;
    height: 2.3rem;
    background: linear-gradient(45deg, rgb(0, 0, 0), rgb(43, 42, 39),rgb(0, 0, 0));
    margin-top: 15px;
    cursor: pointer;
}

.conTeiner{
    position: relative;        
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
}

.btn{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
    width: 80%;
    height: 2.3rem;
    background: linear-gradient(45deg, rgb(0, 0, 0), rgb(43, 42, 39),rgb(0, 0, 0));
    margin-top: 3%;
}

.Btn{
    position: relative;
    display:  flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: 50%;
}



.Conf{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
    padding-top: 30px;    
    
}

.bTn{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
    width: 80%;
    height: 2.3rem;
    background: linear-gradient(45deg, rgb(0, 0, 0), rgb(43, 42, 39),rgb(0, 0, 0));
    margin-top: 5%;
    font-size: 1.1rem;
    color: rgb(240, 248, 255);
}

.nome{
    position: relative;
    display: flex;
    left: 40px;
    height: 1rem;
    top: 9%;
}

.line{
    position: relative;
    width: 5px;
    height: 80%;
    border-radius: 7px;
    background-color: rgb(0, 0, 0);
}

.bTnLabel{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
    width: 80%;
    height: 2.3rem;
    background:  rgb(114, 111, 105);
    margin-top: 5%;
    font-size: 1.1rem;
    color: rgb(240, 248, 255);
}