.conteiner{
    position: relative;
    display: flex;
    width: 90vh;
    height: 70vh;
    background: linear-gradient(45deg, rgb(114, 111, 105), rgb(169, 166, 159),rgb(114, 111, 105));
    padding: 1rem;
    border-radius: 10px;
    top: 10%;
    color: rgb(23, 29, 18);
}

.line{
    width: 3px;
    background-color: rgb(0, 0, 0);
    border-radius: 7px;
}

.cabecario{
    position: relative;
    height: 2.5rem;
    top: 3%;
    font-size: 1.4rem;
}

.butt{
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 2.5rem;
    width: 70%;
    padding: 3px;
    margin-top: 3%;
    top: 3%;
    left: 20%;
    border-radius: 7px;

}

.pedidos{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.PedidosFechamento{
    position: relative;
    background: linear-gradient(45deg, rgb(0, 0, 0), rgb(43, 42, 39),rgb(0, 0, 0));
    margin-top: 5px;
    border-radius: 7px;
    height: 2rem;
    width: 20rem;
}

.lancamento{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 50%;
}

button{
    color: rgb(244, 243, 242);
    background: linear-gradient(45deg, rgb(0, 0, 0), rgb(43, 42, 39),rgb(0, 0, 0));
}

.saldo{
    position: relative;
    height: 2.5rem;
    top: 25%;
    right: 15%;
    font-size: 1.1rem;
}

.saldoTotal{
    position: relative;
    height: 2.5rem;
    top: 37%;
    right: 16%;
    font-size: 1.1rem;
}