.conteiner{
    position: relative;
    display: flex;
    width: 90vh;
    height: 80vh;
    background-color: #cccccc;
    padding: 1rem;
    border-radius: 10px;
    top: 10%;
}

.line{
    width: 3px;
    background-color: #292828;
    border-radius: 7px;
}

.pedidos{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.PedidosFechamento{
    position: relative;
    background-color: #292828;
    margin-top: 5px;
    border-radius: 7px;
    height: 2rem;
    width: 20rem;
}

.lancamento{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 50%;
}

.butt{
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 2.5rem;
    width: 20rem;
    padding: 3px;
    margin-top: 7%;
    top: 10%;
    left: 20%;
    border-radius: 7px;

}

button{
    color: #fff6f6;
    background-color: #292828;}

.cabecario{
    position: relative;
    height: 2.5rem;
    top: 3%;
    font-size: 1.3rem;
}

.saldo{
    position: relative;
    height: 2.5rem;
    top: 30%;
    right: 20%;
    font-size: 1.1rem;
}

.saldoTotal{
    position: relative;
    height: 2.5rem;
    top: 40%;
    right: 20%;
    font-size: 1.1rem;
}