.conteiner{
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 1rem;
    height: 100%;
}

.cont{
    position: relative;
    width: 30%;
}

.conter{
    position: relative;
}