.conteiner{
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    width: 90%;
}

.cont{
    position: relative;
}

.conter{
    position: relative;
    height: 80%;
    width: 100%;
}