.conteiner{
    position: relative;
    top: 10%;
    display: flex;
    flex-wrap: wrap;
    width: 120vh;
    height: 80vh;
    align-content: space-around;    
    background-color: #cccccc;
    padding: 1rem;
    border-radius: 10px;
    justify-content: space-between;

}

.at{
    position: relative;
    bottom: 20%;
    height: 7rem;
}

.estilo{
    position: relative;
    width: 10rem;
    height: 9rem;
    background-color: #3f3e3e;
    border-radius: 5px;
    margin: 5px ;
}

.estilo span{
    position: relative;
    display: flex;
    flex-direction: column;
    color: white;
    top: -3%;
}

.estilo span span{
    position: relative;
    font-size: 1.5rem;
    top: 5%;
}
    
.estilo span a{
    background-color: #2e5e2e;
    height: 1.5rem;
    margin: 5px;
    padding: 3px;
    border-radius: 3px;
    font-size: 1.1rem;
}

.ocupada{
    position: relative;
    width: 10rem;
    height: 9rem;
    background-color: #f7ff17;
    border-radius: 5px;
    margin: 5px ;
}

.ocupada span{
    position: relative;
    display: flex;
    flex-direction: column;
    color: #000000;
    top: -3%;
}

.ocupada span span{
    position: relative;
    font-size: 1.5rem;
    top: 5%;
}
    
.ocupada span a{
    background-color: #2e5e2e;
    height: 1.5rem;
    margin: 5px;
    padding: 3px;
    border-radius: 3px;
    font-size: 1.1rem;
}