.conteiner{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    left: 10%;
    align-content: space-around;    
    background-color: rgb(204, 204, 204);
    padding: 1rem;
    border-radius: 10px;
    justify-content: space-between;

}

.at{
    position: relative;
    bottom: 20%;
    height: 7rem;
}

.estilo{
    position: relative;
    width: 10em;
    height: 9em;
    background-color: #3f3e3e;
    border-radius: 5px;
    margin: 5px ;
}

.estilo span{
    position: relative;
    display: flex;
    flex-direction: column;
    color: white;
    top: -3%;
}

.estilo span span{
    position: relative;
    font-size: 1.5rem;
    top: 5%;
}
    
.estilo span a{
    background-color: #2e5e2e;
    height: 1.5rem;
    margin: 5px;
    padding: 3px;
    border-radius: 3px;
    font-size: 1.1rem;
}