.conteiner{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 90vh;
    height: 80vh;
    align-content: space-around;    
    background: #a9a69f;
    padding: 1rem;
    border-radius: 10px;
    justify-content: space-between;

}

.estilo{
    position: relative;
    width: 10rem;
    height: 7rem;
    background: linear-gradient(45deg, #171d12, #8f846b,#232220);
    border-radius: 7px;
    opacity: 0.9;
}

.estilo span{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.numero{
    position: relative;
    display: flex;
    justify-content: center;
    background-color: #a9a69f;
    border-top-left-radius: 7px;
    border-bottom-right-radius: 7px;    
    top: -1%;
    right: 0.4%;    
    height: 25%;
    width: 40%;
    font-size: 11px;
    color: #171d12;
}
    
.estilo span a{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #171d12;
    height: 40%;
    width: 50%;
    border-radius: 7px;
    font-size: 10px;
    margin: 2%;
    bottom: 10%;
}

.ocupada{
    position: relative;
    width: 10rem;
    height: 7rem;
    background: linear-gradient(45deg, #bad234, #a9b759,#bad234);
    border-radius: 7px;
    opacity: 0.9;
}

.ocupada span{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
    
.ocupada span a{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #171d12;
    height: 40%;
    width: 50%;
    border-radius: 7px;
    font-size: 10px;
    margin: 2%;
    bottom: 10%;
}

.pagamento{
    position: relative;
    width: 10rem;
    height: 7rem;
    background: linear-gradient(45deg, #b13a3a, #9b6f6f,#b13a3a);
    border-radius: 7px;
    opacity: 0.9;
}

.pagamento span{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
    
.pagamento span a{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #171d12;
    height: 40%;
    width: 50%;
    border-radius: 7px;
    font-size: 10px;
    margin: 2%;
    bottom: 10%;
}