.conteiner{
    position: relative;
    flex-direction: column;
    top: 5%;
    height: 80vh;
    width: 45vh;
    background-color: #c2c1c1;
    border-radius: 7px;
    overflow: auto;
}

.lg{
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #c2c1c1;
    top: 5%;
    border-radius: 7px;
    height: 70vh;
    width: 300px;
}

.btn{
    position: relative;
    bottom: 100%;
    background-color: #2e5e2e;
    height: 2.5rem;
    margin: 1rem;
    width: 21rem;
    border-radius: 7px;
}

.btn span{
    position: relative;
    top: 20%;
}

.close{
    position: absolute;
    z-index: 2;
    height: 2rem;
    top: 5%;
    left: 18rem;
    font-size: 2rem;
    color: red;
}


.Err{
    position: relative;
    background-color: #c2c1c1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 5%;
    border-radius: 7px;
    height: 80vh;
    width: 300px;
    font-size: 1.7rem;

}
