.conteiner{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 5%;
    height: 80vh;
    width: 45vh;
    background: linear-gradient(45deg, #726f69, #a9a69f,#726f69);
    border-radius: 7px;
    overflow: auto;
}



.btn{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(45deg, #171d12, #726f69,#171d12);
    height: 2.5rem;
    margin: 1rem;
    width: 21rem;
    border-radius: 7px;
}

.close{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    height: 2rem;
    top: 2%;
    left: 70%;
    font-size: 1.5rem;
    color: #b13a3a;
    border: 2px solid #b13a3a;
    border-radius: 7px;
    cursor: pointer;
}


.Err{
    position: relative;
    background: linear-gradient(45deg, #726f69, #a9a69f,#726f69);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 5%;
    border-radius: 7px;
    height: 80vh;
    width: 300px;
    font-size: 1.7rem;

}

.lg{
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    background: linear-gradient(45deg, #726f69, #a9a69f,#726f69);
    top: 5%;
    border-radius: 7px;
    height: 70vh;
    width: 300px;
}