.conteiner{
    position:absolute;
    flex-wrap: wrap;
    display: flex;
    background-color: #c2c1c1;
    height: 80vh;
    width: 21rem;
    margin: 1rem;
    z-index: 1;
    border-radius: 7px;
    align-items: center;
}

.cabeca{
    position: relative;
    display: flex;
    justify-content: space-around;
    height: 2rem;
    width: 14.5rem;
    flex-direction: row;
    top: 11%;
}

.c{
    position: relative;
    top: 5%;
    width: 100%;
    height: 22.5rem;
    overflow: auto;
}

.cabeca div{
    height: 0;
}

.cab{
    position: relative;
    display: flex;
    justify-content: space-around;
    height: 2rem;
    width: 17rem;
    flex-direction: row;
    top: 3%;
}

.Qnt{
    position: absolute;
    left: 2.5rem;
    top: 35%;
    width: 2rem;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.itn {
    position: relative;
    left: 15%;
    font-size: 12px;
    top: 35%;
}

.ped{
    position: absolute;
    top: 3%;
    left: 11%;
    height: 0;
}



.bnt{
    position: absolute;
    color: #ffffff;
    background-color: red;
    right: -3rem;
    height: 1.6rem;
    width: 3.5rem;
    margin: 5px;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.bntFeito{
    position: fixed;
    color: #ffffff;
    right: 40%;
    background-color: #2e5e2e;
    height: 1.6rem;
    width: 3.5rem;
    margin: 5px;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.despache{
    position: fixed;
    bottom: 26%;
    right: 40%;
    width: 19rem;
    height: 3rem;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    cursor: pointer;
    color: #ffffff;
    font-size: 1.5rem;
}

.cn{
    position: relative;
    top: 13%;
    left: 25%;
    height: 0;
}

.log{
    position: relative;
    display: flex;
    justify-content: center;
    height: 8rem;
    top: 9%;
    left: 15%;
}