.conteiner{
    position:fixed;
    flex-wrap: wrap;
    display: flex;
    background: linear-gradient(45deg, rgb(114, 111, 105), rgb(169, 166, 159),rgb(114, 111, 105));
    height: 80vh;
    width: 34%;
    z-index: 1;
    border-radius: 7px;
    align-items: center;
    overflow: hidden;
    left: 33%;
    color: rgb(0, 0, 0);
}

::-webkit-scrollbar{
    width: 5px;
    background: linear-gradient(45deg, rgb(96, 219, 96), rgb(137, 183, 137),rgb(96, 219, 96));
    border-radius: 7px;
}

.cabeca{
    position: relative;
    display: flex;
    justify-content: space-around;
    height: 2rem;
    width: 14.5rem;
    flex-direction: row;
    top: 11%;
}

.c{
    position: relative;
    top: 5%;
    width: 100%;
    height: 22.5rem;
    overflow: auto;
}

.cabeca div{
    height: 0;
}

.cab{
    position: relative;
    display: flex;
    justify-content: space-around;
    height: 2rem;
    width: 17rem;
    flex-direction: row;
    top: 3%;
}

.Qnt{
    position: absolute;
    left: 2.5rem;
    top: 35%;
    width: 2rem;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.itn {
    position: relative;
    left: 15%;
    font-size: 12px;
    top: 35%;
}

.ped{
    position: absolute;
    top: 3%;
    left: 11%;
    height: 0;
}



.bnt{
    position: absolute;
    color: rgb(255, 255, 255);
    background: linear-gradient(45deg, rgb(177, 58, 58), rgb(155, 111, 111),rgb(177, 58, 58));
    right: -4.3rem;
    height: 1.6rem;
    width: 3.5rem;
    margin: 5px;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.feito{
    position: absolute;
    color: rgb(255, 255, 255);
    background: linear-gradient(45deg, rgb(74, 202, 74), rgb(137, 183, 137),rgb(74, 202, 74));
    right: -4.3rem;
    height: 1.6rem;
    width: 3.5rem;
    margin: 5px;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.cn{
    position: relative;
    top: 8%;
    left: 25%;
    height: 0;
}

.log{
    position: relative;
    display: flex;
    justify-content: center;
    height: 8rem;
    top: 4%;
    left: 15%;
}

@media (max-width: 414px) {

    .conteiner{
        left: 7%;
    }

    .cn{
        top: 6%;
    }
    
}