.conteiner{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 90vh;
    align-content: space-between;
    height: 70vh;
    top: 10%;
}

.bnt{
    position: relative;
    background-color: #2e5e2e;
    height: 13rem;
    width: 13rem;
    margin: 10px;
    border-radius: 10%;
    cursor: pointer;
}

.vl{
    position: relative;
    top: 45%;
    font-size: 1.3rem;
}
