.conteiner{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 60rem;
    left: 5%;
    align-content: space-around;
}

.bnt{
    position: relative;
    background-color: #2e5e2e;
    height: 19rem;
    width: 19rem;
    margin: 7px;
    border-radius: 10%;
    cursor: pointer;
}

.vl{
    position: relative;
    top: 45%;
    font-size: 2rem;
}
