.conteiner{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 90vh;
    align-content: space-between;
    height: 30vh;
    top: 10%;
    left: 8%;
}

.bnt{
    position: relative;
    background: linear-gradient(45deg, #171d12, #726f69,#171d12);
    height: 12rem;
    width: 12rem;
    margin: 10px;
    border-radius: 10%;
    cursor: pointer;
}

.vl{
    position: relative;
    top: 45%;
    font-size: 1.3rem;
}
