*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Righteous', cursive;
    width: 100%;
}

a{
    text-decoration: none;
    color: #f4f3f2;
    height: 0;
}

.App{
    position: relative;
    display: flex;
    text-align: center;
    justify-content: center;
    color:#f4f3f2;
    background-color: #8b8077;
    opacity: 0.9;
    overflow-y: auto;
    height: 100vh;
}