
body {
  margin: 0;
  padding: 0;
  position: relative;
  display: flex;
  background-image: url('./pexels-rachel-claire-4993256.jpg') ;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
