*{
  height: 100%;
  font-family: 'Righteous', cursive;
}

body {
  margin: 0;
  padding: 0;
  position: relative;
  display: flex;
  text-align: center;
  justify-content: center;
  background: linear-gradient(90deg, #b1a99b, #ede4d4);
}
