.conteiner{
    position: relative;
    height: 10%;
    top: 20%;
    color: #171d12;
}
.conteiner div {
    display: flex;
    flex-direction: column;
}

.conteiner div span{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: -30%;
    height: 5px;
    background-color: #171d12;
    width: 100%;
}
.conteiner div h1{
    font-size: 2.5rem;
}