*{
    height: 100%;
}

body{
    background-image: radial-gradient(#ffde59, #e45d0b);
}
.t1{
    position: absolute;
    opacity: 60%;
    top: 300px;
    left: 50px;
    border-radius: 20px;
    width: 700px;
    height: 375px;
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 5px 5px black;

}

#n1{
    position: absolute;
    left: 120px;
    top: 310px;
    height: 20px;
}
#linha{
    position: absolute;
    top: 400px;
    left: 120px;
    height: 130px;
    border-radius: 60px;
    opacity: 50%;
    width: 5px;
    background-color: black;
}
#n2{
    position: absolute;
    top: 364px;
    left: 138px;
    font-size: 37px;
    height: auto;
}

#n3{
    position: absolute;
    top: 489px;
    left: 138px;
    font-size: 20px;
    color: red;
    height: auto;
}
#n4{
    position: absolute;
    top: 530px;
    left: 138px;
    font-size: 12px;
    height: auto;
}
#preco{
    position: absolute;
    top: 580px;
    left: 115px;
    font-size: 15px;
    color: #616060;
    height: auto;
}
#finaly{
    position: absolute;
    top: 605px;
    left: 380px;

    background-color: black;
    text-align: center;
    border-radius: 20px;
    color: white;
    height: 20px;
    width: 100px;
    text-decoration: none;
}


.t2{
    position: absolute;
    opacity: 60%;
    background-color: rgb(212, 203, 203);
    height: 375px;
    width: 200px;
    top: 300px;
    left: 551px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;

}

/* setas */
.e2{
    position: absolute;
    width: 200px;
    height: 200px;
    top: 400px;
    left: 30px;
}

.e2::before{
    content: '';
    display: block;
    width: 70px;
    height: 50px;
    box-sizing: border-box;
    border: 60px solid transparent;
    border-left: 80px solid #616060;

}

.e3{
    position: absolute;
    width: 20px;
    height: 20px;
    top: 633px;
    left: 293px;
}

.e3::before{
    content: '';
    display: block;
    width: 5px;
    height: 20px;
    box-sizing: border-box;
    border: 5px solid transparent;
    border-top: 10px solid #616060;
    cursor: pointer;
}

.e4{
    position: absolute;
    width: 10px;
    height: 20px;
    top: 572px;
    left: 293px;
    text-align: center;

}

.e4::before{
    content: '';
    display: block;
    width: 5px;
    height: 20px;
    box-sizing: border-box;
    border: 5px solid transparent;
    border-bottom: 10px solid #616060;
    cursor: pointer;
    

}
#qnt{
    top: 600px;
    left: 247px;
    width: 100px;
    height: 25px;
    font-size: 20px;
    position: absolute;
    text-align: center;
    border: 1px solid #616060;
    color: #616060;
    border-radius: 5px;

}
#linha2{
    position: absolute;
    left: 230px;
    top: 585px;
    width: 130px;
    height: 50px;
    border-left: 2px solid #616060;
    border-right: 2px solid #616060;
    border-radius: 2px;

}


/*marcacao isolada valor dos itens*/
#tm{font-size: 30px;}
#tn{position: absolute;top: 3px;}


/*circulos*/

.circulo{
    position: absolute;
    height: 300px;
    width: 300px;
    left: 430px;
    top: 330px;
    background: #616060;

    border-radius: 41% 39% 48% 52% /
                    61% 44% 58% 38%;
    opacity: 0.6;

}

.circulo1{
    position: absolute;
    height: 300px;
    width: 300px;
    left: 430px;
    top: 310px;
    background: #616060;

    border-radius: 70% 30% 56% 33% /
                    35% 25% 47% 70%;
    opacity: 0.5;

}

/* home */

.icon{
    position: absolute;
    font-size: 40px;
    top: -42px;
    left: 10px;
    text-decoration: none;
    color: #363535;
}
.valor{
    position: absolute;
    background: none;
    border: none;
    width: 20px;
}