*{
    height: 50%;
}

.corpo{
    background-image: radial-gradient(#ffde59, #e45d0b);
}

.ft{font: 7em "Jazz LET", Jazz-LET }

.just{
    position: absolute;
    background-color: gray;
    height: 150px;
    width: 600px;
    border-radius: 20px;
    border: none;
    left: 110px;
    top: 200px;

    transition: 3s;
    animation: bounceInRight 4s;

}

.just0{
  position: absolute;
  background-color: gray;
  height: 150px;
  width: 600px;
  border-radius: 20px;
  border: none;
  left: 110px;
  top: 365px;

  transition: 3s;
  animation: bounceInRight 4s;
}

.just1{
  position: absolute;
  background-color: gray;
  height: 150px;
  width: 600px;
  border-radius: 20px;
  border: none;
  left: 110px;
  top: 530px;

  transition: 3s;
  animation: bounceInRight 4s;
}

.just2{
  position: absolute;
  background-color: gray;
  height: 150px;
  width: 600px;
  border-radius: 20px;
  border: none;
  left: 110px;
  top: 695px;

  transition: 3s;
  animation: bounceInRight 4s;
}

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Concert+One&family=Noto+Serif&display=swap');

#font{
  position: absolute;
  left: 440px;
  top: 50px;
  font-family: 'Anton', sans-serif;
  font-size: 45px;
  color: black;
}


@keyframes bounceInRight {
    from,
    60%,
    75%,
    90%,
    to {
      -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
  
    from {
      opacity: 0;
      -webkit-transform: translate3d(3000px, 0, 0) scaleX(3);
      transform: translate3d(3000px, 0, 0) scaleX(3);
    }
  
    60% {
      opacity: 1;
      -webkit-transform: translate3d(-25px, 0, 0) scaleX(1);
      transform: translate3d(-25px, 0, 0) scaleX(1);
    }
  
    75% {
      -webkit-transform: translate3d(10px, 0, 0) scaleX(0.98);
      transform: translate3d(10px, 0, 0) scaleX(0.98);
    }
  
    90% {
      -webkit-transform: translate3d(-5px, 0, 0) scaleX(0.995);
      transform: translate3d(-5px, 0, 0) scaleX(0.995);
    }
  
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }