*{
    height: 100%;
}

.corpo{
    background-image: radial-gradient(#ffde59, #e45d0b);
}

.ty{
    position:absolute;
    top: 50%;
    left: 200px;
    font-size: 30px;
    font-weight: bolder;
    text-decoration: none;
    color: black;

    /* bor */

    border: 2px solid green;
    height: 35px;
    width: 400px;
    text-align: center;
    border-radius: 10px;
    background: grey;
}