.conteiner{
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    display: flex;
    justify-content: space-around;
    width: 130vh;
}

.cont{
    position: relative;
    right: 1.7%;
}

.conter{
    position: relative;
    height: 80%;
}