.conteiner{
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    display: flex;
    height: 40rem;
    text-align: center;
    bottom: 10%;
}

.cont{
    position: relative;
    top: 20%;
}