.conteiner{
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    display: flex;
    justify-content: space-around;
}

.cont{
    position: relative;
    right: 5%;
}