.conteiner{
    display: flex;
    flex-direction: column;
    position:relative;
    top: 35%;
    left: 5%;
    height: 14rem;
}

.bodY{
    position:relative;
    background: linear-gradient(45deg, #171d12, #726f69,#171d12);
    color: #f4f3f2;
    width: 325px;
    height: 50px;
    margin-top: 15px;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
}

.texto{
    position: relative;
    top: 13%;
    font-size: 1.5rem;
    font-weight: lighter;
}