.container{
    position: relative;
    background: linear-gradient(45deg, #171d12, #726f69,#171d12);
    height: 330px;
    width: 330px;
    border-radius: 100%;
    top: 17%;
}

.texto{
    position: relative;
    color: #f4f3f2;
    font-size: 1.5rem;
    top: 45%;
}

.cont{
    position: relative;
    top: 10rem;
}