.conteiner{
    position: fixed;
    top: 10%;
    background: linear-gradient(45deg, #171d12, #726f69,#171d12);
    z-index: 1;
    height: 13rem;
    width: 13rem;
    border-radius: 100%;
}

.valOr{
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
    top: 30%;
    right: 11%;
    height: 3rem;
    width: 250px;
    border-radius: 7px;
    color: #f4f3f2;
    font-size: 1.7rem;
}

.Npedido{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    height: 80vh;
    width: 350px;
    top: 10%;
    font-size: 1.5rem;
    color: #171d12;
}

.Div{
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
    top: 40%;
    background-color: #171d12;
    height: 3rem;
    width: 250px;
    border-radius: 7px;
}


@media (max-width: 414px){
    .conteiner{
        top: 5%;
    }
}