.conteiner{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 83vh;
    top: 7%;
    border-radius: 7px;
    color: rgb(23, 29, 18);
}

.bodY{
    position:relative;
    top: 13%;
    background: linear-gradient(45deg, rgb(0, 0, 0), rgb(34, 23, 1),rgb(0, 0, 0));
    width: 350px;
    height: 50px;
    border-radius: 7px;
    cursor: pointer;
    margin: 9px;
}

.bod{
    position:relative;
    top: 12%;
    background: linear-gradient(45deg, rgb(0, 0, 0), rgb(34, 23, 1),rgb(0, 0, 0));
    width: 350px;
    height: 50px;
    border-radius: 7px;
    cursor: pointer;
    margin: 9px;
}

.cabeca{
    position: relative;
    display: flex;
    top: 13%;
    height: 1.3rem;
    width: 90%;
    justify-content: space-between;
    margin: 10px;
}

.c{
    position:relative ;
    display: flex;
    flex-direction: column;
    top: 12%;
    height: 300px;
    overflow: auto;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 7px;
    margin: 2%;
}

.cab{
    position: relative;
    text-align: center;
    display: flex;
    justify-content: space-around;
    border-radius: 3px;
    height: 1.3rem;
    margin: 7px;
    cursor: pointer;
}

.ped{
    position: absolute;
    left: 3%;
}

.Qnt{
    position: absolute;
    left: 10px;
    width: 2rem;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.vlu{
    position: absolute;
    right: 10px;
    width: 2rem;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.cn{
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 3.3%;
    height: 1rem;
    bottom: -17.5%;
}

.cnpj{
    position: relative;
    height: 1rem;
    bottom: -17.5%;
}

.cnn{
    position: relative;
    bottom: -18%;
    height: 7rem;
}

.tmn{
    font-size: 13px;
}

.preCo{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 5%;
    font-size: 1.5rem;
    height: 1.8rem;
    width: 5rem;
    border-radius: 7px;
    border: 2px solid rgb(0, 0, 0)
}

.cent{
    position: relative;
    font-size: 1.3rem;
}

@media (max-width: 375px) {
    .bodY{
        width: 300px;
        top: 10%;
    }

    .bod{
        top: 10%;
        width: 300px;
    }

    .cabeca{top: 9%;}

    .c{
        height: 250px;
        top: 7.5%;}
    .cn{
        bottom: -10%;
    }

    .Qnt{
        left: 1%;
        bottom: 5%;
    }

    .tmn{
        position: relative;
        right: 5%;
        font-size: 12px;
    }

    .vlu{
        font-size: 12px;
    }

    .cnn{
        display: none;
    }

    .cnpj{
        position: relative;
        height: 1rem;
        bottom: -10%;
    }
    
}