a{
    text-decoration: none;
    color: white;
}
.conteiner{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 70%;
    top: 7%;
}

.bodY{
    position:relative;
    background-color: black;
    width: 350px;
    height: 50px;
    margin-top: 5px;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
}

.bod{
    position:relative;
    background-color: black;
    width: 350px;
    height: 50px;
    margin-top: 5px;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
}

.texto{
    position: relative;
    top: 13%;
    font-size: 1.5rem;
    font-weight: lighter;
}

.c{
    position:relative ;
    display: flex;
    flex-direction: column;
    top: 20%;
    height: 500px;
}

.cabeca{
    position: absolute;
    display: flex;
    top: 15%;
    height: 1.3rem;
    width: 100%;
    justify-content: space-between;
}

.cab{
    position: relative;
    text-align: center;
    display: flex;
    justify-content: space-around;
    background-color: rgb(212, 210, 210);
    border-radius: 3px;
    padding-top: 1px;
    height: 1.3rem;
    margin: 3px;
}
.pro{
    position: absolute;
    flex-direction: column;
    top: -5%;
    left: 68%;
    height: 5.5rem;
    width: 5.5rem;
    display: flex;
    border-radius: 100%;
    color: aliceblue;
    background-color: #2e5e2e;
}

.vli{
    position: relative;
    bottom: 15%;
    font-size: 3.5rem;
    font-family: 'Cormorant Garamond', serif;

}
.vlf{
    position: relative;
    bottom: 23%;
    font-size: 1.3rem;
    font-family: 'Cormorant Garamond', serif;

}

.vlt{
    position: fixed;
    top: 11%;
    right: 27%;
    font-size: 0.70rem;
    height: 0;
}

.ped{position: absolute;}

.Qnt{
    position: absolute;
    left: 10px;
    width: 2rem;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.vlu{
    position: absolute;
    right: 10px;
    width: 2rem;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.cn{
    position: relative;
    height: 1rem;
    bottom: 21%;
    bottom: -12%;
}