.conteiner{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 83vh;
    top: 7%;
    border-radius: 7px;
    color: #171d12;
}

.bodY{
    position:relative;
    top: 20%;
    background: linear-gradient(45deg, #171d12, #726f69,#171d12);
    width: 350px;
    height: 50px;
    margin-top: 5px;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    margin: 9px;
}

.bod{
    position:relative;
    top: 18%;
    background: linear-gradient(45deg, #171d12, #726f69,#171d12);
    width: 350px;
    height: 50px;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    margin: 9px;
}

.texto{
    position: relative;
    top: 13%;
    font-size: 1.5rem;
}

.c{
    position:relative ;
    display: flex;
    flex-direction: column;
    top: 20%;
    height: 300px;
    overflow: auto;
}

.cabeca{
    position: fixed;
    display: flex;
    top: 18%;
    height: 1.3rem;
    width: 21.5rem;
    justify-content: space-between;
    margin: 10px;
}

.cab{
    position: relative;
    text-align: center;
    display: flex;
    justify-content: space-around;
    border-radius: 3px;
    height: 1.3rem;
    margin: 7px;
    cursor: pointer;
}

.pro{
    position: absolute;
    flex-direction: column;
    top: -1%;
    left: 15rem;
    height: 6rem;
    width: 6rem;
    border-radius: 100%;
    color: #ff0000;
    justify-content: center;
    align-items: center;
}

.valO{
    position: relative;
    left: 10%;
}

.vli{
    position: relative;
    bottom: 2%;
    font-size: 3.5rem;
    font-family: 'Cormorant Garamond', serif;

}
.vlf{
    position: relative;
    bottom: 10%;
    font-size: 1.3rem;
    font-family: 'Cormorant Garamond', serif;

}

.vlt{
    position: absolute;
    bottom: 33%;
    right: 40%;
    font-size: 0.70rem;
    height: 0;
}

.ped{
    position: absolute;
    top: 3%;
    left: 3%;
}

.Qnt{
    position: absolute;
    left: 10px;
    width: 2rem;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.vlu{
    position: absolute;
    right: 10px;
    width: 2rem;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.cn{
    position: relative;
    height: 1rem;
    bottom: -17.5%;
}

.cnn{
    position: relative;
    bottom: -18%;
    height: 7rem;
}

.tmn{
    font-size: 13px;
}