.conteiner{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 23rem;
}

.conteiner img {
    position: relative;
    top: 10%;
    border-radius: 10px;
    width: 250px;
    height: 200px;
}

.conteiner_Button{
    background: linear-gradient(45deg, rgb(0, 0, 0), rgb(34, 23, 1),rgb(0, 0, 0));
    border-radius: 20px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 2rem;
    width: 6em;
    top: 12%;
}

.But{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    background: none;
    border: none;
}

.Valor{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.3em;
    height: 2.3em;
    border-radius: 10px;
    margin: 2px;
    font-size: 1rem;
}

.conteiner h1 {
    position: relative;
    display: flex;
    text-align: justify;
    top: 15%;
    right: 14%;
    width: 70%;
    font-size: 1.3rem;
    color: #000000;
}

.preco {
    position: relative;
    bottom: 46.5%;
    left: 29%;
    width: 5%;
    height: 0%;
    font-size: 1.5rem;
    color: #000000;
}

.add{
    background: linear-gradient(45deg, rgb(0, 0, 0), rgb(34, 23, 1),rgb(0, 0, 0));
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    height: 7%;
    width: 30%;
    bottom: 41%;
    left: 34%;
    font-size: 13px;
    cursor: pointer;
}

.off{
    display: none;
}

.on{
    position: absolute;
    border-radius: 7px;
    top: 51%;
    right: 25%;
    height: 10%;

    animation-name: aparecer;
    animation-duration: 2s;
}

@keyframes aparecer{
    from{
        right: 200%;
        opacity: 0;
    }

    to{
        right: 25%;
        opacity: 1;
    }
}

.Butao{
    background: linear-gradient(45deg, rgb(0, 0, 0), rgb(34, 23, 1),rgb(0, 0, 0));
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    height: 40px;
    width: 330px;
}

.adicionarNovo{
    position: relative;
    bottom: 27%;
    height: 0;
}

.final{
    position: relative;
    bottom: 20%;
    height: 0;
}

.itemAdicional{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 7px;
    background: linear-gradient(45deg, rgb(0, 0, 0), rgb(34, 23, 1),rgb(0, 0, 0));
    height: 35px;
    width: 35px;
    border-radius: 50%;
    top: 33.5%;
    right: 20%;
}

.log{
    position: relative;
    width: 330px;
    height: 10%;
    color: rgb(0, 0, 0);
    bottom: 10%;
}

.log h4{
    position: relative;
    top: 0%;
}

.log h2{
    font-size: 2.5rem;
}

@media (max-width: 414px) {

    .preco{bottom: 41.7%;}

    .add{bottom: 35%;}

    .itemAdicional{top: 34.3%;}

    .on{top: 52%;}

    .log h4{
        position: relative;
        top: 60%;
    }
    
    .log h2{font-size: 2.5rem;}

    .adicionarNovo{bottom: 26%;}
    
    .final{bottom: 18%;}
    
}

