.conteiner{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 23rem;
}

.imgoff{
    position: relative;
    top: 2%;
    border-radius: 10px;
    right: 3%;
    width: 75%;
    height: 20%;
}

.imgon{
    position: relative;
    top: 3%;
    border-radius: 50%;
    right: 25%;
    width: 20%;
    height: 10%;

    animation-name: imagemon;
    animation-duration: 1s;
    z-index: 2;
}

@keyframes imagemon{

from{
    width: 60%;
}

to{
    width: 20%;
}

}


.nomes {
    position: relative;
    display: flex;
    text-align: justify;
    top: 3%;
    right: 10%;
    height: 5%;
    font-size: 1.3rem;
    color: #000000;
}

.conteiner_Button{
    background: linear-gradient(45deg, #000000, #221701,#000000);
    border-radius: 7px;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 6rem;
    width: 2em;
    left: 40.5%;
    bottom: 15.5%;
}

.nome_act{
    display: none;
}

.nome_off{ 
    display: block;
}

.displayoff{
    background: linear-gradient(45deg, rgb(0, 0, 0), rgb(34, 23, 1),rgb(0, 0, 0));
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    height: 3.5%;
    width: 40%;
    font-size: 13px;
    cursor: pointer;
}

.displayon{
    background: linear-gradient(45deg, rgb(0, 0, 0), rgb(34, 23, 1),rgb(0, 0, 0));
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    height: 30%;
    width: 90%;
    font-size: 13px;
    z-index: 1;

    animation-name: aparecer;
    animation-duration: 1s;
}

@keyframes aparecer{
    from{
        width: 40%;
        height: 3.5%;
    }

    to{
        width: 90%;
        height: 30%;
    }
}

.preco {
    position: relative;
    bottom: 6.5%;
    left: 23%;
    width: 5%;
    height: 0%;
    font-size: 2rem;
    color: #000000;
}

.But{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    background: none;
    border: none;
}

.Valor{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.3em;
    height: 2.3em;
    border-radius: 10px;
    margin: 2px;
    font-size: 1.5rem;
}

.Butao{
    background: linear-gradient(45deg, rgb(0, 0, 0), rgb(34, 23, 1),rgb(0, 0, 0));
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    height: 40px;
    width: 330px;
}

.adicionarNovo{
    position: relative;
    height: 0;
    top: 7%;
}

.final{
    position: relative;
    height: 0;
    top: 15%;
}

.ativado{
   display: none;
}

.adicioactive_on{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 80%;
}

.bntadicional{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    height: 10%;
    width: 30%;
    margin: 1%;
    top: 6%;
    border-radius: 7px;
    cursor: pointer;
}

.Input{
    position: absolute;
    opacity: 0.5;
    cursor: pointer;
}

.Input_check{
    position: relative;
    opacity: 1;
}