.conteiner{
    display: flex;
    position: relative;
    flex-direction: column;
    height: 80vh;
    top: 3%;
    border-radius: 7px;
}

.conteiner h1 {
    position: absolute;
    left:3%;
    top: 3%;
    font-size: 1.3rem;
    color: #171d12;
}

.IMg{
    position: relative;
    top: 10%;
    right: 8%;
}

.IMg img {
    border-radius: 10px;
    width: 250px;
    height: 200px;
}

.Valor{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.3em;
    height: 2.3em;
    border-radius: 10px;
    margin: 2px;
    font-size: 1rem;
    color: #171d12;
}

.conteiner_Button{
    position: relative;
    display: grid;
    align-items: center;
    left: 80%;
    justify-content: space-around;
    height: 17rem;
    width: 5em;
    bottom: 23%;
}

.But{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.3em;
    height: 2.3em;
    border-radius: 10px;
    margin: 2px;
    font-size: 1rem;
    background: linear-gradient(45deg, #171d12, #726f69,#171d12);
    color: #ffff;
}

.Novo{
    position:relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(45deg, #171d12, #726f69,#171d12);
    color: #f4f3f2;
    width: 330px;
    height: 50px;
    margin-top: 5px;
    border-radius: 10px;
    top: 65%;
    cursor: pointer;
    font-size: 1.5rem;

}

.New{
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #171d12, #726f69,#171d12);
    color: #f4f3f2;
    width: 330px;
    height: 50px;
    margin-top: 5px;
    border-radius: 10px;
    top: 25%;
    cursor: pointer;
    font-size: 1.5rem;
}

.Log{
    position: fixed;
    height: 6rem;
    bottom: 1%;
}

@media (max-width: 320px) {

    .conteiner_Button{
        bottom: 35%;
    }

    .Novo{
        width: 300px;
        top: -80%;
    }

    .New{
        width: 300px;
        top: -70%;}

    .Log{bottom: -10%;}
}