.conteiner{
    position:relative;
    display: flex;
    flex-wrap: wrap;
    width: 40%;
    margin-top: 2%;
}

.bo{
    position:relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, rgb(0, 0, 0), rgb(34, 23, 1),rgb(0, 0, 0));
    width: 250px;
    height: 80px;
    text-align: center;
    border-radius: 10px;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 1.1rem;
    margin: 10px;
    letter-spacing: calc(3px);
}


::-webkit-scrollbar {display: none;}


/* @media (max-width: 414px){
    .atl{
        left: 5.5%;
    }

    .conteiner{
        width: 100%;
    }
}

@media (max-width: 375px) {

    .bo{
        width: 145px;
        height: 80px;
        left: 2%;
        font-size: 15px;
    }

    .atl{height: 100px;}
} */