.conteiner{
    position:relative;
    display: flex;
    flex-wrap: wrap;
    top: 3%;
    left: 3%;
    border-radius: 7px;
}

.bo{
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #171d12, #726f69,#171d12);
    width: 170px;
    height: 90px;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    margin-right: 10px;
    font-size: 1.1rem;
}

.atl{
    position: relative;
    display: flex;
    height: 110px;
}

::-webkit-scrollbar{
    width: 10px;
    background: #2e5e2e;
    border-radius: 7px;
}

@media (max-width: 414px){
    .atl{
        left: 5.5%;
    }
}

@media (max-width: 320px) {

    .bo{
        width: 145px;
        height: 80px;
        left: 2%;
    }

    .atl{height: 100px;}
}