.conteiner{
    position:relative;
    display: flex;
    flex-wrap: wrap;
    height: 27vh;
    top: 5%;
    left: 4%;
    border-radius: 7px; 
}

.bodY{
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #171d12, #726f69,#171d12);
    width: 170px;
    height: 170px;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    margin-right: 10px;
    font-size: 1.5rem;
}

.atl{
    position: relative;
    display: flex;
    height: 70px;
    top: 10%;
}

.radape{
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 170px;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    margin-right: 10px;
    font-size: 1rem;
    bottom: 35%;
    z-index: -3;
}

.busy{
    position: relative;
    height: 80vh;
    top: 5%;
    border-radius: 7px;
    color: #171d12;
}

.busy :nth-child(1){
    position: relative;
    font-size: 1.7rem;
    height: 2rem;
    top: 10%;
}

.busy :nth-child(2){
    position: relative;
    width: 350px;
    height: 10rem;
    padding: 5px;
    font-size: 1.5rem;
    text-align: center;
    top: 20%;
}

.busy :nth-child(3){
    position: relative;
    width: 350px;
    height: 10rem;
    top: 40%;
}

.Err{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 5%;
    border-radius: 7px;
    height: 80vh;
    width: 300px;
    font-size: 1.7rem;

}

@media (max-width: 414px){
    .conteiner{left: 8%;}
}


@media (max-width: 320px) {

    .conteiner{height: 32vh;}

    .bodY{
        width: 9rem;
        height: 8rem;
        font-size: 1.3rem;
    }
    
    .radape{
        width: 9rem;
        height: 8rem;
    }
}