a{
    text-decoration: none;
    color: white;
    height: 20rem;
}
.conteiner{
    flex-direction: column;
    position:relative;
    height: 80vh;
    top: 3%;
    background-color: #c2c1c1;
    border-radius: 7px;
}

.bodY{
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: #ffff;
    width: 325px;
    height: 50px;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 30px;
    margin-left: 7px;
    margin-right: 7px;
    font-size: 1.5rem;
}