.conteiner {
    position: relative;
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around; 
    align-items: center; 
    width:50%; 
    height: 80%;
    padding-top: 3%;
}

.button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #000000, #221701, #000000);
    width: calc(50% - 5px);
    height: 100px;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.5rem;
    box-sizing: border-box;
    margin: 10px;
    letter-spacing: calc(10px);
}


.busy {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    color: #171d12;
    width: 40%;
}

.busy div:nth-child(1) {
    font-size: 1.7rem;
    letter-spacing: calc(2px);
    margin-bottom: 10%;
}

.busy div:nth-child(2) {
    width: 350px;
    margin: 20px auto;
    font-size: 1.5rem;
    letter-spacing: calc(3px);
    text-align: center;

}

.busy div:nth-child(3) {
    margin-top: 10%;
    width: 50%;
}

.Err {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    width: 300px;
    font-size: 1.7rem;
    margin: 0 auto;
}

/* @media (max-width: 414px){
    .conteiner{
        width: 100%;
        left: 8%;
    }
}

@media (max-width: 375px) {

    .conteiner{height: 29vh;}

    .bodY{
        width: 9rem;
        height: 8rem;
        font-size: 1.3rem;
    }
    
    .radape{
        width: 9rem;
        height: 8rem;
        font-size: 12px;
    }
}



@media (max-width: 320px) {

    .conteiner{height: 32vh;}

    .bodY{
        width: 9rem;
        height: 8rem;
        font-size: 1.3rem;
    }
    
    .radape{
        width: 9rem;
        height: 8rem;
    }
} */